body, html {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

svg {
  z-index: 1;
}

.ground {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 73%;
}

.groundBottom {
  background: #165964;
  width: 500px;
  height: 33px;
  display: block;
  border-radius: 50%;
  position: relative;
}

.groundTop {
  background: #218397;
  width: 400px;
  height: 20px;
  display: block;
  border-radius: 46%;
  position: relative;
  bottom: 35px;
}

.button-group {
  position: absolute;
  top: 5px;
  left: 5px;
}

.button-group .button {
  display: inline-block;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  background-color: red;
  margin: 2px;
}

.button-group .button:nth-child(2) {
  background-color: orange;
}

.button-group .button:nth-child(3) {
  background-color: #346d00;
}
